USE [master]
GO
/****** Object:  Database [Registro]    Script Date: 26/9/2023 09:58:52 ******/
CREATE DATABASE [Registro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Registro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Registro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Registro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Registro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Registro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Registro]
GO
/****** Object:  User [alumno]    Script Date: 26/9/2023 09:58:52 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/9/2023 09:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Username] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([Username], [Contraseña], [Mail], [DNI], [Nombre]) VALUES (N'jaimito.20', N'123', N'jai.me.12@hotmail.com', 87969854, N'Jaimito')
GO
USE [master]
GO
