@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">¡ Bienvenido !</h1>
    <a href='@Url.Action("Login")'><button style="margin-top: 20px;" type="submit" class="card-button">Iniciar Sesión</button></a>
    <a href='@Url.Action("Registro")'><button style="margin-top: 20px;" type="submit" class="card-button">Registrarse</button><a>
</div>