@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Explora nuestras increíbles características</p>
</div>
    
<section class="text-center">
    <div class="container">
    <a href='@Url.Action("Login")' class="btn btn-primary btn-lg btn-block">Iniciar Sesión</a>
    </div>
    <div class="container">
    <a href='@Url.Action("Registro")' class="btn btn-secondary btn-lg btn-block">Registrarse</a>
    </div>
</section>


<style>
    h1{
        margin-top:200px;
    }
    p {
        font-size: 13px;
    }
    .container{
        margin-top:50px;
    }
    .btn-primary{
        background-color: black;
    }
    .btn-secondary{
        background-color: black;
    }
    .btn-primary:hover {
        background-color: #ff449b;
    }
    .btn-secondary:hover {
        background-color: #ff97c8;
    }


</style>