@{
    ViewData["Title"] = "Login";
}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .login-box {
        border: 50px solid black;
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
    }
</style>
<div class="container">
    <div class="login-box">
        <h1 class="display-4">Iniciar Sesión</h1>
        <form action='@Url.Action("Account")' method="post">
            Usuario <input type="text" class="form-control" name="Username" required>
            Contraseña <input type="password" class="form-control" name="Contraseña" required><br>
            <a href='@Url.Action("Olvido")'>Olvidaste tu contraseña?</a><br><br>
            <button type="submit" class="btn btn-primary">iniciar sesión</button>

            @if (ViewBag.MensajeError != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.MensajeError
                </div>
            }
            @if (ViewBag.MensajeError2 != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.MensajeError2
                </div>
            }
        </form>
    </div>
</div>
