@{
    ViewData["Title"] = "Olvido";
}
<h1>Restablecer contrase単a</h1>
<form action='@Url.Action("OlvidarContrase単a")' method="post">
    Mail: <input type="Email" class="form-control" name="Mail" required>
    <button type="submit" class="btn btn-primary">Restablecer</button>

    @if(ViewBag.MensajeInexistente!=null){
            <div class="alert alert-danger" role="alert">
                @ViewBag.MensajeInexistente
            </div>
        }
</form> <br><br><br>

<h2>Tu contrase単a es:</h2>
<h3>@ViewBag.Contrase単aRecordada</h3>