@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1 class="display-4">Registrar</h1>
    <form action='@Url.Action("RegistrarUsuario")' method="post">
        Usuario <input type="text" class="form-control" name="Username" required>
        Contraseña <input type="password" class="form-control" name="Contraseña" required><br>
        Mail <input type="Email" class="form-control" name="Mail" required><br>
        DNI <input type="Number" class="form-control" name="DNI" required><br>
        Nombre <input type="text" class="form-control" name="Nombre" required><br>
        <button type="submit" class="btn btn-primary">Crear cuenta</button>
        
        @if(ViewBag.MensajeError!=null){
            <div class="alert alert-danger" role="alert">
                @ViewBag.MensajeError
            </div>
        }
    </form>
    <h1 class="listo"></h1>
    <a href='@Url.Action("Login")'><button type="submit" class="btn btn-primary">Iniciar Sesión</button></a>
</div>